<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/src/assets/react.svg" />
    <link rel="stylesheet" href="./src/App.css"/>
    <link rel="stylesheet" href="./src/styles.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blender Farm</title>
    <script type="module" src="./src/htmx.min.js"></script>
    <script type="module" src="./src/tauri-ext.js" defer></script> 
</head>

<!-- TODO See about getting drag and drop working in htmx? 
      listen(TauriEvent.DRAG_DROP, event => { 
    const payload: any = event.payload;
    const path: string = payload.paths[0];
    // this solution below was to prevent spamming commands to backend from front end. Currently, it's calling this function 8-9 times from a single file drop.
    if ( !droppedPath.includes(path)) {
      droppedPath.push(path);
      showDialog(path);
      // allow user to reupload another file after 100ms
      setTimeout(() => droppedPath.length = 0, 100);
    }
  });
-->

<body hx-ext="tauri">
    <!-- <div tauri-invoke="load_main_layout" hx-trigger="load"></div> -->
    <div class="sidebar">
        <nav >
            <ul className="nav-menu-items">
            <li key="manager" 
                class="nav-bar" 
                hx-get="/remote_render" 
                hx-target="#workplace"
            >
                <GoIcons.GoProject></GoIcons.GoProject>
                <span>Remote Render</span>
                <div hx-indicator ></div>
            </li>

            <li key="setting" 
                class="nav-bar" 
                hx-get="/setting" 
                hx-target="#workplace"
            >
                <span><Hi2Icon.HiOutlineCog8Tooth></Hi2Icon.HiOutlineCog8Tooth></span>
                <span>Setting</span>
            </li>
            </ul>
        </nav>
    </div>

    <main id="workplace"></main>
</body>

</html>